name: Unit Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: ["ubuntu-latest", "windows-latest", "macos-latest"]
        python-version: ["3.12", "3.11"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
      
      - name: Install Fortran Compiler (needed for py3nj / escnn)
        if: runner.os == 'macOS'
        run: brew install gcc || true

      - name: Install dependencies
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          source $HOME/.cargo/env
          
          uv pip install --system numpy cython setuptools wheel
          
          uv pip install --system --no-build-isolation -e .
          
          uv pip install --system pytest coverage


      - name: Run tests & coverage
        run: |
          coverage run -m pytest tests/
          coverage report -m
