name: Unit Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: ["ubuntu-latest", "windows-latest", "macos-latest"]
        python-version: ["3.12", "3.11"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Set up Python
        run: uv python install 3.11

      - name: Install Fortran Compiler (needed for py3nj / escnn)
        if: runner.os == 'macOS'
        run: brew install gcc || true

      - name: Install dependencies
        run: |
          uv venv
          
          uv pip install numpy cython setuptools wheel meson-python ninja         

          uv pip install --no-build-isolation -e .
          
          uv pip install pytest coverage

      - name: Run tests & coverage
        run: |

          uv run coverage run -m pytest tests/
          uv run coverage report -m