name: Unit Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: ["ubuntu-latest", "windows-latest", "macos-latest"]
        python-version: ["3.12", "3.11"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # 1. Setup Fortran
      - name: Setup Fortran
        uses: fortra/setup-fortran@v1

      # 2. Install uv
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Set up Python
        run: uv python install ${{ matrix.python-version }}

      # 3. Install dependencies (we use bash for consistency)
      - name: Install dependencies
        shell: bash
        run: |
          uv venv
          # Install build tools first
          uv pip install numpy cython setuptools wheel meson-python ninja
          
          # Install the project without build isolation so it uses our tools
          uv pip install --no-build-isolation -e .
          
          # Test tools
          uv pip install pytest coverage

      # 4. Run tests
      - name: Run tests & coverage
        shell: bash
        run: |
          uv run coverage run -m pytest tests/
          uv run coverage report -m